.fodder__items{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 16px;
    margin: 59px 20px;
}
.fodder__item1{
    padding: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 262px;
    height: 156px;
    border-radius: 30px 0;
    background-image: url("../../../../../../Assets/Fodder/item-1.jpeg");
    transition: .3s;
}
.fodder__item1:hover{
    box-shadow: 0 4px 30px rgba(111, 111, 111, 0.85);
    transition: .3s;
}
.fodder__item2{
    padding: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 262px;
    height: 156px;
    background-image: url("../../../../../../Assets/Fodder/item-2.jpeg");
    border-radius: 30px 0;
    transition: .3s;
}
.fodder__item2:hover{
    box-shadow: 0 4px 30px rgba(111, 111, 111, 0.85);
    transition: .3s;
}
.fodder__item3{
    padding: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 262px;
    height: 156px;
    border-radius: 30px 0;
    background-image: url("../../../../../../Assets/Fodder/item-2.jpeg");
    transition: .3s;
}
.fodder__item3:hover{
    box-shadow: 0 4px 30px rgba(111, 111, 111, 0.85);
    transition: .3s;
}
.fodder__item4{
    padding: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 262px;
    height: 156px;
    border-radius: 30px 0;
    background: #2BA84A;
    transition: .3s
}
.fodder__item4:hover{
    box-shadow: 0 4px 30px rgba(111, 111, 111, 0.85);
    transition: .3s;
}
.fodder__text{
    font-family: 'Oswald',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: .3s;
    cursor: pointer;
}
.fodder__text:hover{
    color: #13f600;
    text-decoration-line: underline;
    transition: .3s;
}