.product{
    padding: 90px 0 50px;
    background: #F8F8F8;
}
.product__item{
    display: flex;
    column-gap: 30px;
}
.product__item-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 398px;
    height: 424px;
    background: #FFFFFF;
    border-radius: 50px 0;
}
.product__img{
    width: 167px;
    height: 335px;
}
.product__title{
    font-family: 'Oswald',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 53px;
    color: #2BA84A;
    margin-bottom: 48px;
    text-align: center;
}
.product__all{
    display: flex;
    column-gap: 69px;
}
.product__price{
    font-family: 'Oswald',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 32px;
    color: #FF5F01;
}
.product__pack{
    margin: 9px 0 6px;
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333333;
}
.product__subtitle{
    display: flex;
    align-items: center;
    column-gap: 13px;
    min-width: 230px;
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    color: #333333;
    margin-bottom: 47px;
}
.product__info-paragraph{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 34px;
    width: 254px;
    height: 92px;
    background: #FFFFFF;
    border: 1px solid #FF5F01;
    box-sizing: border-box;
    border-radius: 20px 0;
}
.product__info-subtitle{
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333333;
}
.product__input{
    background-color: transparent;
    width: 200px;
    height: 40px;
    outline: none;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    color: #333333;
    border: none;
    border-bottom: 1px solid #7D7D7D;
    margin: 0 0 25px;
}
.product__sum{
    display: flex;
    column-gap: 90px;
}