.catalog{
    padding: 23px 0 107px;
    background: #FAFAEB;
}
.oops{
    display: flex;
    column-gap: 37px;
}
.catalog__list-title{
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #2BA84A;
}
.catalog__list{
    margin: 8px 0 24px;
}
.catalog__list-item{
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #2D3A3A;
    transition: .3s;
}
.catalog__list-item:hover{
    text-decoration-line: underline;
    color: #2BA84A;
    cursor: pointer;
    transition: .3s;
}